<!doctype html>
<html>
  <head>
    <title>Server Name:{{ inventory_hostname }}</title>
  </head>
  <body>
    <p>Apache SSL port is  {{ port1_result }}</p>
    <p>Apache second port is  {{ port2_result }}</p>
    <p>Apache user used in configruation file is {{ ApacheUser_result }}</p>
  </body>
</html>
